.media-profile {
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
}

.media-profile .photo-profile {
    border: 1px solid rgba(236, 202, 76, 0.69);
    border-radius: 50%;
    padding: 5px;
}

.media-profile .photo-profile-img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

.row-comment {
    /* margin: 10px 15px; */
    padding: 10px 15px;
    border-top: 1px solid #e3e3e3
}

textarea {
    resize: none;
}

.row.row-comment h4 {
    margin-bottom: 10px;
}

.row-comment .form-control {
    height: 35px;
}

.link-circle {
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    border-radius: 100%;
    display: block;
    color: #ffffff;
    font-size: 16px;
}

.actions {
    /* display: flex;
    justify-content: space-around; */
    text-align: center;
}

.actions>a.link-circle {
    margin: 0 auto;
    display: inline-block;
}

.panel-body .form-group {
    display: block;
}

.teamInfo.teamTeacher {
    margin-bottom: 20px;
}

.notificacion-pendiente {
    background-color: rgb(244, 244, 244);
}

.notificacion-item {
    color: black;
    padding: 5px 0 !important;
}

.post-content {
    margin: 20px 15px;
}

.row-comment dd, .row-comment dl {
    margin: 0;
}

.comment.row-comment, .comment.row-comment .post-content{
    padding-bottom: 0;
    margin: 5px 0 0;
}

.timeline .media-body {
    width: auto;
}

.timeline h5.media-heading {
    margin-bottom: 0;
    text-transform: uppercase;
}

.homeContactContent .form-group textarea.form-control {
    height: 50px;
}

.btn-like {
    background: transparent;
    border: 2px solid #b5d56a;
    color: #b5d56a;
}

.btn-like:hover, .btn-liked {
    background: #b5d56a;
    border: 2px solid #b5d56a;
    color: white;
}

.post-actions {
    float: right;
}

.list-inline.functionList {
    width: auto;
}

.maskingContent .list-inline li a {
    position: relative;
    overflow: hidden;
}

.maskingContent .list-inline li a input[name="photo"] {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
}

.post-create-container .form-group {
    position: relative;
}

.post-create-container .form-group a {
    position: absolute;
    padding: 15px;
    top: 0;
    right: 0;
}

.post-create-container .form-group textarea {
    padding-right: 40px;
}

.post-create-container .img-preview {
    padding: 0 30px 30px;
    max-height: 500px;
    margin: auto;
}

.post-media .img-preview {
    padding: 15px 30px 20px;
    max-height: 500px;
    margin: auto;
}

.post-create-container .form-group a input[type="file"] {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
}

.form-control {
    border: 2px solid;
}

.rightSidebar .actions {
    padding: 10px 0;
}

.timeline .well .media {
    position: relative;
    overflow: unset;
}

.well .media .well-actions {
    position: absolute;
    top: 0;
    right: 0;
}

.well .media .well-actions i {
    transition: all ease 1s;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    border-radius: 100%;
    display: block;
    color: rgba(0, 0, 0, 0.1);
    font-size: 16px;
}

.well:hover .media .well-actions i {
    color: rgba(0, 0, 0, 0.3);
}

.well .media .well-actions:hover i {
    color: rgba(0, 0, 0, 0.5);
    background-color: rgba(0, 0, 0, 0.1);
}

.swal-text {
    text-align: center;
}

.amigos_activos {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 300px;
    z-index: 2;
    color: white;
    max-height: 570px;
}

.chat-panel {
    padding: 10px 40px;
}

.amigos_activos .panel-group, .amigos_activos .accordionCommon .panel {
    margin-bottom: 0;
}

.amigos_activos .accordionCommon .panel-heading {
    border-radius: 0;
}

.amigos_activos .accordionCommon .panel-body {
    padding: 0;
}

.top-info-bar .formField .form-control {
    height: 23px;
}

.solicitudes-actions .link-circle {
    display: inline-block;
}

.notificacion-solicitud-amistad a {
    display: inline-block;
    color: #fff !important;
    padding: 3px 20px !important;
}

.notificacion-solicitud-amistad {
    text-align: right;
}